body {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	min-height: 44px;
}

a {
	font-family: sans-serif;
	color: #fff;
	text-indent: 1rem;
	background-color: #ccc;
	display: inline-flex;
	flex: 1 1 20%;
	align-self: stretch;
	align-items: center;
	transition: box-shadow 1s;
	text-decoration: none;
}

/* rule applies for all <a> tags that are an adjacent sibling to an <a> tag.*/
a + a {
    border-left: 1px solid #aaa;
}

a:hover {
	box-shadow: inset 0 -5px 0 green;
}