html,
body {
	margin: 0;
	padding: 0;
}

.FlexWrap {
  background-color: indigo;
	font-family: 'Oswald', sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
  
  display: flex;
  flex-wrap: wrap;        /* test with wrap nowrap */
  align-items:center;    /* alignment along cross axis - center flex-start flex-end */
  justify-content: space-around;
}

.FlexItem {
  height: 150px;
  width: 200px;     /* fixed size will demonstrate the wrap */

  /* below is used to center text using a flexbox layout of the text in an FlexItem */
  display: flex;
  align-items: center;       
  justify-content: center;
}
.Red {
  background: red;
  align-self: flex-start;   /* to move this item to the top of the flexbox */
}
.Orange {
  background:orange;
}
.Green {
  background: green;
}
.Yellow {
  background-color: yellow ;
}
.Blue {
  background: steelblue;
  align-self: flex-start;     /* to move this item to the bottom of the flexbox */
}
