html,
body {
	margin: 0;
	padding: 0;
}

.MenuWrap {
	background-color: indigo;
	color: #ebebeb;
	font-family: 'Oswald', sans-serif;
	font-size: 1rem;
	height: 2.75rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.ListItem,
.LastItem {
	display: flex;
	color: #ebebeb;
	text-decoration: none;
	/* removes the classic link underline */
}

.ListItem {
	margin-right: 1rem;
	/* change to 1rem; to move to the last item to the far right */
}

.LastItem {
	margin-left: auto;
	/* change to margin-left; to move to the last item to the far right */
}

/*
.ListItem,
.LastItem {
	background-color: gray;
}
*/