div {
	height: 20vmin;
	width: 20vmin;
	border: 1px solid #111;
	margin: 1em;
	display: inline-flex;
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
}

.box-shadow {
	box-shadow: 0 0 15px blue;
	background: radial-gradient(blue, pink);
}

.inner-box-shadow {
	box-shadow: inset 0 0 15px violet;
	background: radial-gradient(at 10% 10%, blue, pink);
}

.no-spread {
  box-shadow: 0 10px 10px;
  background: radial-gradient(circle closest-side, blue, pink);
}

.spread {
  box-shadow: 0 10px 10px -10px;
  background: radial-gradient(ellipse farthest-side at 10% 10%, blue, pink);
}
