:root {
  /* Font stack to ensure some generic family fonts for different browsers */
  --FontDefault: 'Courier New', Courier, monospace;
  --FontSet1:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --FontSet2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --FontSet3: fantasy;
}

/* Set up <body> to view the default font - just to know where we will land */
body {
  font-size: 1.2em;
  font-family:var(--FontDefault);
  font-weight: 400;
}

.flexWrapper  {
  background: 
      repeating-linear-gradient(90deg, transparent, transparent 50px,
        rgba(255, 127, 0, 0.1) 50px, rgba(255, 127, 0, 0.1) 56px,
        transparent 56px, transparent 63px,
        rgba(255, 127, 0, 0.1) 63px, rgba(255, 127, 0, 0.1) 69px,
        transparent 69px, transparent 116px,
        rgba(255, 206, 0, 0.1) 116px, rgba(255, 206, 0, 0.1) 166px),
      repeating-linear-gradient(0deg, transparent, transparent 50px,
        rgba(255, 127, 0, 0.1) 50px, rgba(255, 127, 0, 0.1) 56px,
        transparent 56px, transparent 63px,
        rgba(255, 127, 0, 0.1) 63px, rgba(255, 127, 0, 0.1) 69px,
        transparent 69px, transparent 116px,
        rgba(255, 206, 0, 0.1) 116px, rgba(255, 206, 0, 0.1) 166px),
      repeating-linear-gradient(-45deg, transparent, transparent 5px,
        rgba(143, 77, 63, 0.1) 5px, rgba(143, 77, 63, 0.1) 10px),
      repeating-linear-gradient(45deg, transparent, transparent 5px,
        rgba(143, 77, 63, 0.1) 5px, rgba(143, 77, 63, 0.1) 10px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.flexWrapper p  {
  display: flex;     /* together with align-items below, makes the text centered vertically */ 
  margin: 0.5rem;   
  padding: 0.5rem;
  width: 300px;
}
/* this rules will apply only for p tags with class="fontSetDefault" */
p.fontDefault {
  font-family: var(--FontDefault);
  align-items: center;
}
.fontSet1 {
  font-family: var(--FontSet1);
  align-items: center;
}
p.fontSet2 {
  font-family: var(--FontSet2);
  align-items: center;
}
p.fontSet3 { 
  font-family: var(--FontSet3);
  align-items: center;
}


