span {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	padding-left: 0.7rem;
	padding-top: 0.7rem;
	background-color: blue;
}

/* try nth-child(odd) (even) (-n+4): the first 3  3n-2: every 3rd  */
span:nth-child(3n-2) {
	background-color: #f90;
	border-radius: 50%;
}


/* the last 3 children 
span:nth-last-child(-n+3) {
	background-color: #f90;
	border-radius: 50%;
}
*/

/* from the 5th through 8th element
span:nth-child(n+6):nth-child(-n+9) {
	background-color: #f90;
	border-radius: 50%;
}
*/


